html{
    background-color: black;
    width: 100%;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }


  /* Define the settings for the Headings*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

h1{
    font-size: 1.5rem;
}
h2{
    font-size:1.375rem;
}
  h3{
    font-size: 1.25rem;
}

/* Define text color for body as color:#777777;
   Set background to transparent to allow the background through
   */
  body{
      background: transparent;
      width:100%;
      color:#777777;
      
  }
/* Set the maximum width to 960 to allow Bootstrap behavor on collapsable navbar */
main{
   
  margin:0 auto;
   
}
 
header{
    margin-top: 2rem;
}

.navbar{
     height: 4.25rem; 
     background-color: whitesmoke;
     max-width:960px;
     border-bottom: .1rem solid #cccccc;
      
}
 
.navbar-brand{
    background-color: #4aaaa5;
     
     
    font-weight: bold;
 }

#theNavBar {
   margin: 0 auto;
}


 .navbar-default .navbar-brand {
    color: white;
    height: 4.05rem;
     
}
  
h1{
    color:#ffffff;
    margin: .25rem 0 .25rem 0;
    text-align: center;
    font-size: 1.75rem;
     
 }

 .navbar-nav{
     margin-top: .5rem;
      
 }

 ul li a{
     border-radius: 10px;
 }


 #mainContainer{
        border-bottom: .5rem solid #4aaaa5;
        max-width: 960px;
        margin-top: 2rem;
         
 }


 
 
#aboutMeColumn{
  border-bottom: 1px solid #cccccc;
  width: 100%;
  background-color: white;
  padding: 0 0 0 2rem;
  margin-left: 0;
  }

#aboutMeContainer{
    width: 100%;
}

#aboutMeColumn h2{
  font-weight: bold;
  margin-bottom: .5rem;
  width: 100%;
  font-size:1.5rem;
  border-bottom: 1px solid #cccccc;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
  
 

.btsrpImageContainer{
     
    height: 33%;
    overflow: hidden;
    padding: 0;
    
    
}

 
.btsrpImageContainer img{
    margin: 0 auto;
    height: 10rem;
    width: 16rem;
    transition: .5s ease-in;
     
}

.btsrpImageContainer img:hover{
    height:20rem ;
    width:auto;
    transition: .5s ease-out;
    overflow:visible;
    
     
}


.btsrpPortfolioLabelContainer{
   
    position: relative;
    background-color: #4aaaa5;
    color:white;
    bottom: 3rem;
    height: 2rem;
    text-align: center;
    overflow: hidden;
    width: 16rem;
    
}

.btsrpPortfolioLabelContainer p {
    position: relative;
    top: 10%;
    font-style: italic;
    font-weight: bold;
    
}



#columnBreak{
    background-color: transparent;
    width:5px;
    
    flex:0;
    color: 20px red dashed;
}
#socialMediaColumn{
     
     
    min-width: 30%;
    height: 25%;
     
    background-color: white;
     
    margin-top: 1rem;
    text-align: center;

   
    padding: 0 2rem 2rem 2rem;
    
     
}



#socialMediaHeader{
     
    width: 100%;
  }

#socialMediaColumn h3{
    padding-bottom: .5rem;
    
    text-align: center;
    
     
    width:100%;
    border-bottom: 1px solid #cccccc;
}

 
#socialMediaContainer{
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#smContainer img{
    height: 3.5rem;
    width:auto;
    margin: .5rem;
}


footer{
    background-color: #666666;
    max-width:960px;
    text-align: center;
    font-size:.75rem;
    color:whitesmoke;
    height: 4rem;
    margin: 0 auto;
}

#footerContainer{
    width: 100%;
    height: 100%;
}
#copyTag{
    position: relative;
    top: 40%;
    opacity: 0.5rem;
}